# general install dependencies
pip>=9.0.1
wheel>=0.30.0

# documentation dependencies
Sphinx>=4.2.0
m2r>=0.2.1
sphinx-rtd-theme>=0.5.2

# testing dependencies
tox>=3.24.3
flake8>=3.5.0
pytest>=3.7.1
pluggy>=0.7
pytest-cov>=2.5.1
pytest-runner>=2.11.1
